.container {
  margin-top: -60px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: $padding-container;
  background-color: #f6f6f6;
  &__title {
    padding-right: 1rem;
  }
  @media (min-width: 600px) {
    padding: $padding-section-m;
  }
}

.section-container {
  column-gap: 2rem;
  > section {
    flex-grow: 1;
  }
}

@media all and (min-width: 1340px) {
  .section-container {
    display: flex;
    justify-content: space-between;
    > section {
      margin: 1rem;
    }
  }
}

.underline {
  background: $colour-tertiary;
  height: 3px;
  width: 40px;
}

.menu__grid {
  padding: 1rem 0;
  &--card {
    background-color: $colour-white;
    margin-bottom: 1rem;
    border-radius: 15px;
    padding: 0.6rem 1.5rem 0.7rem 1rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    &--content {
      overflow: hidden;
      padding-right: 1rem;
      line-height: 1.6rem;
      transition: transform 1s ease-in-out;
      & h6,
      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .h6-2lines {
        line-height: 1.3rem;
      }
    }
    &--price {
      display: flex;
      align-self: flex-end;
      font-weight: 500;
      font-size: 1rem;
      transition: $animation-slide-left;
    }
  }
}

.wrapper {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: $colour-tertiary;
  color: $colour-white;
  // display: none;
  height: 100%;
  top: 0;
  right: -4.5rem;
  width: 4.5rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 1.35rem;
  // transform: translate(-50%, -50%);
  transition: $animation-slide-left;
  & > i {
    transition: transform 400ms ease-in-out;
    font-size: 1.6rem;
  }
}

.menu__grid--card:hover {
  .wrapper {
    transform: translateX(-4.5rem);
    & > i {
      transform: rotate(1turn);
    }
  }
  .menu__grid--card--price {
    transform: translateX(-4.5rem);
  }
  .menu__grid--card--content {
    width: calc(100% - 34%);
  }
}

// ----------- WHOLE MENU SLIDING UP

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.menu__grid--card {
  -webkit-animation: slideInUp, smooth-opacity;
  animation: slideInUp, smooth-opacity;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

// .menu__grid--card:nth-child(2) {
//   -webkit-animation: slideInUp, smooth-opacity;
//   animation: slideInUp, smooth-opacity;
//   animation-duration: 2.5s;
// }

// .menu__grid--card:nth-child(3) {
//   -webkit-animation: slideInUp, smooth-opacity;
//   animation: slideInUp, smooth-opacity;
//   animation-duration: 3s;
// }

.animation-1 {
  animation-delay: 0.43s;
}

.animation-2 {
  animation-delay: 0.68s;
}

.animation-3 {
  animation-delay: 0.93s;
}

.animation-4 {
  animation-delay: 1s;
}

.animation-5 {
  animation-delay: 1.43s;
}

.animation-6 {
  animation-delay: 1.68s;
}

.animation-7 {
  animation-delay: 1.93s;
}

.animation-8 {
  animation-delay: 2s;
}

.animation-9 {
  animation-delay: 2.43s;
}

.animation-10 {
  animation-delay: 2.68s;
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes smooth-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
