.header {
  text-align: center;
  &__nav {
    padding: 1rem 0 0.7rem 0;
    background: $colour-white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 10px;
  }
  &__location {
    padding: 1rem;
    &--box {
      width: 50%;
      margin: 0 auto;
      position: relative;
      .header__location--icon {
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      & span {
        font-weight: 500;
        font-size: 1.2rem;
        color: #464646;
      }
    }
  }
  &__content {
    background-color: #f6f6f6;
    padding: 2rem 1.7rem;
    h2,
    p {
      line-height: normal;
      padding-bottom: 1rem;
    }
    &--p {
      font-size: 1.15rem;
    }
  }
}
