.header {
  text-align: center;
  &__nav {
    padding: 0.5rem 0 0.2rem 0;
    background: $colour-white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 10px;
    position: relative;
    &--arrow {
      position: absolute;
      top: 50%;
      left: 2rem;
      transform: translate(-50%, -50%);
      font-size: 1.2rem;
    }
  }
  &__location {
    padding: 0.8rem;
    color: #464646;
    &--box {
      width: 50%;
      margin: 0 auto;
      position: relative;
      font-size: 1.1rem;
      .header__location--icon {
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      & span {
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
  }
  &__content {
    background-color: #f6f6f6;
    padding: 2.5rem 1.7rem;
    h2,
    p {
      line-height: normal;
      padding-bottom: 1rem;
    }
    &--p {
      font-size: 1.15rem;
    }
  }
}

// .header__nav2 {
//   display: flex;
// }
