.btn {
  padding: 1rem 1.3rem;
  border-radius: 50px;
  color: white;
  font: 500 1.1rem "roboto";
  background: linear-gradient($colour-secondary, $colour-primary);
  border: none;
  margin: 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;

  &:hover {
    background: linear-gradient(#ff93f4, #ad70f6);
    box-shadow: rgba(0, 0, 0, 0.3) 0 8px 10px;
    transition: all 0.3s ease-in-out;
  }
}

.btn__box {
  margin-top: 0.5rem;
  text-align: center;
  &--order {
    padding: 1rem 3rem;
  }
}
