.btn {
  padding: 1rem 1.3rem;
  border-radius: 50px;
  color: white;
  font: 500 1.1rem "roboto";
  background: linear-gradient($colour-secondary, $colour-primary);
  border: none;
  margin: 1rem;
  cursor: pointer;
}
