body {
  font-family: "Roboto", sans-serif;
  color: #101010;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
}

h3 {
  font-family: "Shrikhand", cursive;
}

h4 {
  margin: 0;
}

p {
  font-size: 1rem;
}
