$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-accent: #99e2d0;
$colour-white: #fff;
$colour-invalid: #db464b;

$heading-shadow-size: 0.55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * 0.25;
